
.catalogue {
  position: absolute;
  width: 1920px;
  height: 782px;
  left: 0px;
  top: 970px;
  background: #FFFFFF;
}
.catalogue-f {
  position: absolute;
  width: 388px;
  height: 311px;
  left: 260px;
  top: 0px;
}
.catalogue-f1 {
  position: absolute;
  width: 388px;
  height: 100px;
  top: 0px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292D32;
}
.catalogue-f2 {
  position: absolute;
  width: 372px;
  height: 81px;
  top: 129px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #838383;
}
.catalogue-button {
  position: absolute;
  width: 140px;
  height: 55px;
  top: 256px;
}
.catalogue-button svg {
  width: 32px;
  height: 32px;
}
.catalogue-buttonText {
  position: absolute;
  width: 73px;
  height: 30px;
  left: 40px;
  top: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292D32;
}
.catalogue-1 {
  position: absolute;
  width: 440px;
  height: 371px;
  left: 740px;
  top: -21px;
  background: #F2F2F2;
  border-radius: 20px;
}
.catalogue-1-img {
  position: absolute;
  width: 415px;
  height: 245px;
  left: 0px;
  top: -15px;
  background: url(../Picture/Image31.jpg);
}
.catalogue-2 {
  position: absolute;
  width: 440px;
  height: 371px;
  left: 1220px;
  top: -21px;
  background: #F2F2F2;
  border-radius: 20px;
}
.catalogue-2-img {
  position: absolute;
  width: 265px;
  height: 245px;
  left: 110px;
  top: -15px;
  background: url(../Picture/Image10.png);
}
.catalogue-3 {
  position: absolute;
  width: 440px;
  height: 371px;
  left: 260px;
  top: 411px;
  background: #F2F2F2;
  border-radius: 20px;
}
.catalogue-3-img {
  position: absolute;
  width: 345px;
  height: 130px;
  left: 60px;
  top: 100px;
  background: url(../Picture/Image26_1.png);
}
.catalogue-4 {
  position: absolute;
  width: 440px;
  height: 371px;
  left: 740px;
  top: 411px;
  background: #F2F2F2;
  border-radius: 20px;
}
.catalogue-4-img {
  position: absolute;
  width: 290px;
  height: 155px;
  left: 75px;
  top: 50px;
  background: url(../Picture/Image28.png);
}
.catalogue-5 {
  position: absolute;
  width: 440px;
  height: 371px;
  left: 1220px;
  top: 411px;
  background: #F2F2F2;
  border-radius: 20px;
}
.catalogue-5-img {
  position: absolute;
  width: 330px;
  height: 210px;
  left: 100px;
  top: 45px;
  background: url(../Picture/Image33.png);
}
.catalogue-text1 {
  position: absolute;
  width: 40px;
  height: 38px;
  left: 35px;
  top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 150%;
  color: #292D32;
}
.catalogue-text2 {
  position: absolute;
  width: 120px;
  height: 24px;
  left: 35px;
  top: 264px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}
.catalogue-text3 {
  position: absolute;
  width: 350px;
  height: 38px;
  left: 35px;
  top: 293px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  color: #292D32;
}
@media all and (max-width: 375px) {
  .catalogue {
    position: absolute;
    width: 375px;
    height: 2200px;
    left: 0px;
    top: 970px;
    background: #FFFFFF;
  }
  .catalogue-f {
    position: absolute;
    width: 340px;
    height: 311px;
    left: 20px;
    top: 0px;
  }
  .catalogue-f1 {
    font-size: 40px;
    width: 340px;
  }
  .catalogue-1 {
    position: absolute;
    width: 440px;
    height: 371px;
    left: -33px;
    top: 350px;
    background: #F2F2F2;
    border-radius: 20px;
    scale: 0.8;
  }
  .catalogue-2 {
    position: absolute;
    width: 440px;
    height: 371px;
    left: -33px;
    top: 700px;
    background: #F2F2F2;
    border-radius: 20px;
    scale: 0.8;
  }
  .catalogue-3 {
    position: absolute;
    width: 440px;
    height: 371px;
    left: -33px;
    top: 1050px;
    background: #F2F2F2;
    border-radius: 20px;
    scale: 0.8;
  }
  .catalogue-4 {
    position: absolute;
    width: 440px;
    height: 371px;
    left: -33px;
    top: 1400px;
    background: #F2F2F2;
    border-radius: 20px;
    scale: 0.8;
  }
  .catalogue-5 {
    position: absolute;
    width: 440px;
    height: 371px;
    left: -33px;
    top: 1750px;
    background: #F2F2F2;
    border-radius: 20px;
    scale: 0.8;
  }
}